<footer>
    <div class="footer-logo">
        <img src="../../assets/img/Fichier 16.png" alt="Logo de Shop&Cook">
    </div>
    <img class="trait" src="./../../assets/img/Line 59.png">
    <div class="footer-links">
        <a>Mentions légales</a>
        <a>C.G.U</a>
        <a>Politique de confidentialité</a>
        <a href="./../../assets/doc/Livre_blanc_Shop__cook_.pdf">Livre Blanc</a>
    </div>
    <div class="footer-copyright">
        Copyright © 2023 Shop&Cook. All Rights Reserved
    </div>
</footer>
