<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<h3 class="phrase-accroche" id="accroche">"Chaque année, 1.3 milliard de tonnes d'aliments sont gaspillées, soit 1/3 de
    la production mondiale"</h3>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/pro.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Professionnel</h5>
                    <p class="card-text">Révolutionnez votre activité en rejoignant Shop&Cook, l'application
                        anti-gaspillage alimentaire qui vous aide à économiser et à préserver notre planète, tout en
                        fidélisant vos clients éco-responsables.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/couple-1807617_1920.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Particulier</h5>
                    <p class="card-text">Découvrez Shop&Cook, l'application qui vous accompagne dans la lutte contre le
                        gaspillage alimentaire tout en faisant des économies. Rejoignez notre communauté et faites la
                        différence dès aujourd'hui !</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../assets/association.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Association</h5>
                    <p class="card-text">Shop&Cook, l'appli anti-gaspillage qui soutient les associations et simplifie
                        la redistribution des invendus pour nourrir les plus démunis. Unissons-nous pour transformer le
                        gaspillage en actions solidaires et durables !"</p>
                </div>
            </div>
        </div>
    </div>
</div>