<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="about-us-heading">À propos de nous</h2>
        </div>
        <div class="col-12">
          <p class="about-us-text">
            Nous sommes un groupe d'étudiants passionnés de l'école MyDigitalSchool Paris. Ce projet, Shop&Cook, est né de notre volonté d'aborder un enjeu majeur de notre société : le gaspillage alimentaire. En combinant nos compétences en développement web, design et marketing digital, nous avons créé une application qui vise à sensibiliser les utilisateurs sur cette problématique tout en leur offrant des solutions concrètes pour réduire leur impact sur l'environnement.
          </p>
        </div>
      </div>
    </div>
  </section>
  