.presentation-container {
    padding: 1rem;
}

.presentation-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #FDFEDE;
    text-align: justify;
    font-family: "Montserrat";
}

.presentation-row {
    display: flex;
}

.presentation-image {
    height: 90%;
    object-fit: cover;
    margin-left: 5rem;
}