<div class="about-container">
    <div class="about-text">
        <h2 class="title">QUI SOMMES NOUS ?</h2>
        <p class="text">
            Nous croyons que manger sainement et limiter le gaspillage alimentaire devraient être accessibles à tous.
            C'est pourquoi nous avons créé une plateforme qui vous permet de découvrir des aliments frais et de qualité
            chez des commerçants locaux, à prix réduits avant qu'ils ne périment. Nous travaillons avec des producteurs
            locaux et des commerçants passionnés qui partagent notre engagement envers la qualité et la durabilité, pour
            vous offrir une expérience culinaire exceptionnelle tout en réduisant notre impact sur l'environnement.
            Rejoignez notre communauté et ensemble, réduisons le gaspillage alimentaire tout en savourant des aliments
            de qualité !
        </p>
        <img class="trait" src="./../../assets/img/Rectangle 62.png">
    </div>
    <div class="about-image">
        <img class="about-image" src="./../../assets/img/Sans titre-4 1.png" alt="Description de l'image" />
    </div>
</div>