<div class="explanation-container">
    <div class="explanation-text">
        <h2 class="title">NOTRE COMBAT</h2>
        <div class="statistics">
            <div class="stat">
                <div class="number">10</div>
                <p class="stat-description">millions de tonnes de nourritures sont jetées en France chaque année.</p>
            </div>
            <div class="stat">
                <div class="number">1/3</div>
                <p class="stat-description">de la nourriture dans le monde est gaspillé</p>
            </div>
            <div class="stat">
                <div class="number">42%</div>
                <p class="stat-description"> est le pourcentage de responsabilité des ménages dans le gaspillage en
                    France</p>
            </div>
        </div>
        <p class="text">Notre application a pour objectif de permettre aux utilisateurs de réduire le gaspillage
            alimentaire en les
            aidant à mieux gérer leurs courses et à utiliser les ingrédients de manière efficace. Nous sommes convaincus
            qu'avec une application facile à utiliser, tout le monde peut faire sa part pour réduire les chiffres
            alarmants du gaspillage alimentaire en France. En travaillant ensemble pour limiter le gaspillage
            alimentaire, nous pouvons préserver l'environnement et contribuer à nourrir ceux qui ont besoin.</p>
    </div>
</div>