.navbar {
    background-color: #045E38;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;

    .navbar-brand {
        margin-right: 0;
        color: #FDFEDE;
        font-size: 2rem;
        font-family: "Serif Baru - Dirtyline XBd It";
    }

    .navbar-collapse {
        justify-content: center;
    }

    .nav-item {
        color: #FDFEDE;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.3rem;
        font-family: 'Montserrat';

        .nav-link {
            color: #ffffff;
        }
    }
}


@font-face {
    font-family: "Serif Baru - Dirtyline XBd It";
    src: url("../font/ElanorFreePersonalUse-ExBdIt.otf") format("OpenType");
}