<div class="app-container">
    <h2 class="app-title">L'APPLICATION</h2>
    <div class="app-content">
        <img class="app-image" src="./../../assets/img/application.png" alt="Image de l'application" />
        <div class="app-description">
            <div class="section">
                <h3 class="section-title">
                    <img class="icon" src="./../../assets/img/Discover.png" alt="Icône 1" />Discovers
                </h3>
                <p class="section-description">Vous pourrez facilement trouver des produits frais et locaux près de chez
                    vous. Grâce à notre discover adapté à votre localisation qui vous permettra de découvrir les
                    différents commerçants partenaires et de voir les produits qu'ils proposent. Vous pourrez même
                    filtrer par catégorie de produit et choisir ceux qui correspondent le mieux à vos besoins.</p>
            </div>
            <div class="section">
                <h3 class="section-title">
                    <img class="icon" src="./../../assets/img/Section cuisine.png" alt="Icône 1" />Section cuisine
                </h3>
                <p class="section-description">Nous savons qu'il n'est pas toujours facile de trouver l'inspiration pour
                    cuisiner avec les ingrédients que vous avez sous la main. C'est pourquoi nous avons créé une section
                    recettes de cuisine qui vous permettra de découvrir des recettes savoureuses à partir des
                    ingrédients disponibles chez nos commerçants partenaires. Vous pourrez également utiliser notre
                    générateur de recettes, qui vous proposera des idées de plats en fonction des ingrédients que vous
                    avez en stock chez vous.</p>
            </div>
            <a class="download-button" href="lien/vers/votre/application" download>Télécharger l'app</a>
        </div>
    </div>
</div>