.slogan-banner {
    background-color: #045E38;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;

    h1 {
        font-family: 'Serif Baru - Dirtyline XBd It', sans-serif;
        font-size: 4rem;
        font-weight: bold;
        color: #FDFEDE;
        animation: fadeIn 3s ease-in-out;
        margin: 0;
    }

    .btn-download-app {
        font-family: 'Montserrat', sans-serif;
        margin-top: 2rem;
        background-color: #FDFEDE;
        color: black;
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s, border-color 0.3s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Serif Baru - Dirtyline XBd It";
    src: url("../font/ElanorFreePersonalUse-ExBdIt.otf") format("OpenType");
}